{% extends "base_report.html" %}

{% block content %}
    <h1>Session {{ session.name }}, {{ session.sessionToken }}</h1>
    <h3>Part of experiment {{ session.expName }}</h3>
    <h3>Created on {{ session.creationDate }}</h3>
    <h3>Completion token {{ session.receiptToken }}</h3>

    <a href="{% url 'exp_index' %}">Back to experiment index</a>

    {% if reports|length > 0 %}
        <hr>
        <p>{{ reports|length }} report events found</p>
        {% for d in reports %}
            <li><a href="{% url 'display_data' session.sessionToken d.pk %}">{{ d.eventType }} at {{ d.uploadDate }}<a></a></li>
        {% endfor %}
        <hr>
    {% endif %}

    <p>Configuration file</p>
    <pre>
    {{ session.configFile }}
    </pre>
{% endblock %}